<header>
    <nav>
        <ul>
            <li><a class="<%= path==='/' ? 'active' : '' %> " href="/">Shop</a></li>
            <li><a class="<%= path==='/add-product' ? 'active' : '' %>" href="/add-product">Add Product</a></li>
            <li><a class="<%= path==='/products' ? 'active' : '' %>" href="/product-list">Products</a></li>
            <li><a class="<%= path==='/cartt' ? 'active' : '' %>" href="/cart">Cart</a></li>
            <li><a class="<%= path==='/admin/products' ? 'active' : '' %>" href="/admin/products">Admin Products</a></li>
        </ul>
    </nav>
</header>
